@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,800;1,900&family=Red+Hat+Text&display=swap');


*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin:0px;
}
.stars{
 background: url(./images/bg-stars.svg),linear-gradient(180deg, hsl(234, 17%, 12%), hsl(303, 36%, 10%));
 position: absolute;
 height: 100%;
 width: 100%;
}
.stars-body{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
font-family: 'Red Hat Text', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;
font-weight: 700; 
}
.text{
color: hsl(0, 0%, 100%);
font-size: 23px;
letter-spacing: 6px;
text-align: center;
}
.time-text{
    color: hsl(237, 18%, 59%);
    font-size: 20px;
    letter-spacing: 4px;
}
.grp-text{
display: flex;
flex-direction: row;
align-items: center;
}
.grp-content{
   display: flex;
flex-direction: column;
align-items: center;
margin-right: 70px;
}
.hills{
 background: url(./images/pattern-hills.svg) no-repeat;
 position: absolute;
 top: 75%;
 height: 30%;
 width: 100%;
 display: flex;
align-items: center;
}
.grp-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grp-icons img{
 padding-right: 30px;
 width:30%;
 height: 30%;
}
.grp-icons img:hover{
 fill: hsl(345, 95%, 68%) ;
 color:hsl(345, 95%, 68%);
 cursor: pointer;
}
.number{
    color: hsl(345, 95%, 68%);
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    padding: 50px;
    background-color: hsl(236, 21%, 26%);
    margin-bottom: -20px;
    box-shadow: 5px 10px 3px 0px rgba(21, 21, 21, 0.2);
}
.test:hover{
    background-image: url(./images/icon-facebook-pink.svg);
    cursor: pointer;
}
.attribution 
 { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a 
{ color: hsl(228, 45%, 44%); 
}